{{ define "preview" }}
<div class="rounded">
  {{ if eq .FileType "image/png" "image/jpeg" "image/gif" }}
  <img src="/raw/{{ .FilePath }}" class="max-w-full" alt="{{ .FileName }}" />
  {{ else if eq .FileType "video/mp4" "video/webm" "video/ogg" }}
  <video controls class="w-full">
	<source src="/raw/{{ .FilePath }}" type="{{ .FileType }}" />
	Seu navegador não suporta a tag de vídeo
  </video>
  {{ else  }}
  <span class="p-9 bg-zinc-100 flex justify-center rounded font-bold">
	Não há visualização padrão para esse arquivo
  </span>
  {{ end }}
</div>

<div class="flex justify-between items-center mt-3">
  <button hx-get="/files"
		  hx-target="#file-viewer"
		  hx-swap="innerHTML"
		  class="flex items-center p-2 rounded uppercase transition-all duration-75 bg-zinc-100 hover:bg-zinc-200">
	<svg xmlns="http://www.w3.org/2000/svg"
		 fill="none"
		 viewBox="0 0 24 24"
		 stroke-width="1.5"
		 stroke="currentColor"
		 class="size-5 mr-1">
	  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
	</svg>
	back
  </button>
  <button hx-get="/files/{{ .FilePath }}"
		  hx-target="#file-viewer"
		  hx-swap="innerHTML"
		  class="flex items-center p-2 rounded uppercase transition-all duration-75 bg-zinc-100 hover:bg-zinc-200">
	<svg xmlns="http://www.w3.org/2000/svg"
		 fill="none"
		 viewBox="0 0 24 24"
		 stroke-width="1.5"
		 stroke="currentColor"
		 class="size-5 mr-1">
	  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
	</svg> 
	download
  </button>
</div>
{{ end }}
