{{ define "files" }}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 p-10">
	
	<h1 class="text-3xl font-bold mb-6">Files</h1>
	<nav class="mb-4 bg-gray-200 p-2 rounded-sm">
	  <a href="/files/" class="text-blue-600"></a>
	  {{ $path := "" }}
	  {{ range $index, $dir := split .CurrentPath "/" }}
      {{ if ne $dir "" }}
      {{ $path = join $path $dir }}
      > <a href="/files/{{ $path }}" class="text-blue-800">{{ $dir }}</a>
      {{ end }}
	  {{ end }}
	</nav>

	<table class="w-full table-auto bg-white rounded-sm uppercase overflow-hidden">
	  <thead>
		<tr class="bg-blue-500 text-white">
		  <th class="px-4 py-2">Name</th>
		  <!--<th class="px-4 py-2">Type</th>-->
		</tr>
	  </thead>
	  <tbody class="overflow-hidden">
		{{ range .Files }}
		<tr class="border-b">
		  <td class="px-4 py-2">
			{{ if .IsDir }}
			<a href="/files/{{ .Path }}" class="text-blue-600">{{ .Name }}</a>
			{{ else }}
			<a href="/preview/{{ .Path }}" class="text-blue-600">{{ .Name }}</a>
			{{ end }}
		  </td>
		  <!--<td class="px-4 py-2">{{ if .IsDir }}Directory{{ else }}File{{ end }}</td>-->
		</tr>
		{{ end }}
	  </tbody>
	</table>

	<div class="mt-6 flex justify-center space-x-4">
	  {{ if gt .CurrentPage 1 }}
	  <a href="/files?page={{ sub .CurrentPage 1 }}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Previous</a>
	  {{ end }}

	  {{ range $i := until .TotalPages }}
	  <a href="/files?page={{ add $i 1 }}" class="px-4 py-2 rounded {{ if eq $.CurrentPage (add $i 1) }}bg-blue-700 text-white{{ else }}bg-gray-200{{ end }}">{{ add $i 1 }}</a>
	  {{ end }}

	  {{ if lt .CurrentPage .TotalPages }}
	  <a href="/files?page={{ add .CurrentPage 1 }}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Next</a>
	  {{ end }}
	</div>
  </body>
</html>
{{ end }}
